<nav class="container-center home-inner-center">
<!-- 	<div class="col-full">
		<h3 class="text-center">What would you like to do?</h3>
	</div> -->
	<div class="col-full">
		<ul class="list home-list">
			<% if user_signed_in? %>
				<%= link_to rsvp_path do %>
					<li>RSVP</li>
				<% end %>
				<%= link_to gifts_path do %>
					<li>View the Gift Registry</li>
				<% end %>
				<%= link_to details_path do %>
					<li>Get the Details</li>
				<% end %>
				<%= link_to tips_and_tricks_path do %>
					<li>Tips and Tricks</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</nav>