<nav class="nav container-center">
	<ul class="list list-horizontal nav-list home-nav">
		<% if user_signed_in? %>
			<li><%= link_to "RSVP" , rsvp_path %></li>
			<li><%= link_to "Gift Registry" , gifts_path %></li>
			<li><%= link_to "Details" , details_path %></li>
			<li><%= link_to "Tips and Tricks" , tips_and_tricks_path %></li>
		<% end %>
	</ul>
</nav>