<%= render partial: 'pages/home_mobile_nav' %>
<div class="container home-inner">
	<div class="container-center home-inner-center">
		<div class="col-full text-center">
			<%= image_tag "sarah-and-andrew.svg", class: "home-image" %>
		</div>
		<div class="col-full text-center">
			<h1 class="home-title">Sarah and Andrew</h1>
		</div>
		<div class="col-full text-center">
			<h2 class="home-subtitle">Nov 26th 2016, Christchurch</h2>
		</div>
<!-- 		<div class="col-full text-center">
			<p>Welcome! Here you will find important information about our wedding that should answer all of your questions.
If this is not the case, please do not hesitate to email us at andrew.d.nicholas@gmail.com</p>

max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: -50px;
		</div> -->
	</div>
	<%= render partial: 'pages/home_nav' %>
	<div class="container-center">

	</div>
</div>