<div class="container home-inner">
	<div class="container-center home-inner-center">
		<div class="col-full text-center">
			<h1 class="home-title">Andrew and Sarah</h1>
		</div>
		<div class="col-full text-center">
			<h2 class="home-subtitle">Nov 26th 2016, Christchurch</h2>
		</div>
	</div>
	<%= render partial: 'pages/home_nav' %>
</div>