<div class="container">
	<div class="container-center page-heading">
		<h1 class="page-title">Tips and Tricks</h1>
		<p class="col-full text-center page-message">This is a blub about this section. What is it for?</p>
	</div>
	<section class="container-center page-section container-sb">
		<div class="col-padding">
			<h2 class="text-center list-highlight-title">Things to Do</h2>
			<!-- <p>This is a blurb about the things to do around the reception</p> -->
			<ul class="list list-highlight ">
				<li class="list-item"><a href="">Art Gallery</a></li>
				<li>Art Center</li>
				<li>Museum</li>
			</ul>
		</div>
		<div class="col-padding">
			<h2 class="text-center list-highlight-title">Accomodation</h2>
			<!-- <p>This is a blurb about suggested accomodation</p> -->
			<ul class="list list-highlight ">
				<li class="list-item"><a href="">YMCA</a></li>
				<li><a href="">Hotel 1</a></li>
				<li><a href="">Hotel 2</a></li>
			</ul>
		</div>
		<div class="col-padding">
			<h2 class="text-center list-highlight-title">Public Transport</h2>
			<!-- <p>This is a blurb about suggested public transport</p> -->
			<ul class="list list-highlight ">
				<li class="list-item"><a href="">Buses</a></li>
				<li><a href="">Uber</a></li>
				<li><a href="">Taxi</a></li>
			</ul>
		</div>
	</section>
</div>
