.us {
	position: absolute;
}
.us-right {
	right: 0;
}

.us-left {
	left: 0;
}

.rectangles {
	fill: $green;
	transition: all 0.5s ease-out;

	&:hover {
		fill: $yellow;
		transition: all 0.5s ease-out;
	}
}