.border-img-wrapper {
    position: absolute;
    top: 0;
    margin: 20px;
    left: 0;
    right: 0;
    
	padding: 60px 0;
	@include respond($device-width-sm) {
		padding: 80px;
	}

	@include respond($device-width-xl) {
		margin: 50px;
	}	

}

.border-img {
	position: absolute;
}

.border-img--top {
	top: 0;	
	width: 103px;
	@include respond($device-width-sm) {
		width: 204px;
	}
}

.border-img--bottom {
	width: 102px;
	// height: 107px;
	bottom: 0;	

	width: 103px;
	@include respond($device-width-sm) {
		width: 176px;
	}
}

.border-img--right{
	right: 0;

}

.border-img--left{
	left: 0;
}