input {
	padding: 10px 15px;
	margin-top: 3px;
	margin-bottom: 10px;
	border: 1px solid $grey;
	border-radius: 6px;
}

input:read-only {
	border: none;
}

label {
	font-size:  36px;
	margin-bottom: 5px;
	text-transform: capitalize;
}

[type="checkbox"], [type="radio"] {
	margin-right: 10px;
}

.field {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

form {
    width: 500px;
	margin-bottom: 100px;
}

.form-login {
	width: 400px;
}