input {
	padding: 10px 15px;
	margin-top: 3px;
	margin-bottom: 10px;
}

input:read-only {
	border: none;
}

label {
	margin-bottom: 5px;
	text-transform: capitalize;
}

[type="checkbox"], [type="radio"] {
	margin-right: 10px;
}