.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.login-container {
	padding-top: 20px;
}

.container-sb {
	justify-content: space-between;
}

.container-pad {
	padding: 20px;
	display: flex;
	margin: 0 auto;
    max-width: 1000px;
}

.col-full {
	flex:  0 0 100%;
}

.col-padding {
	padding-left: 20px;
	padding-right: 20px;
}