.container {
	max-width: 1000px;
	margin: 0 auto;
}

.container-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container-pad {
	padding: 20px;
}

.col-full {
	flex:  0 0 100%;
}