.list {
	list-style-type: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-horizontal {
	li {
		display: inline-block;
	}
}

.list-highlight-title {
	padding: 5px 15px;
}

.list-highlight {
	
	li {
	    background: transparent;
	    position: relative;
	    padding: 5px 15px;
	    margin-bottom: 10px;
	}

	.list-item {

		a {
			position: relative;
			transition: color $transition-speed-text ease-out;
		}

		&:before {
			content: '';
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 0%;
		    -webkit-transition: width $transition-speed-bg ease-out;
		}

		&:hover {

			a {
				transition: color $transition-speed-text ease-out;
			}

			&:before {
				width: 100%;
			}
		}

		&:nth-child(5n + 1) {
			&:hover {
				a {
					color: #FFF;
				}
			}
			&:before {
				background: $colour1;
			}
		}

		&:nth-child(5n + 2) {
			&:before {
				background: $colour2;
			}
		}

		&:nth-child(5n + 3) {
			&:hover {
				a {
					color: #FFF;
				}
			}
			&:before {
				background: $colour3;
			}
		}

		&:nth-child(5n + 4) {
			&:hover {
				a {
					color: #FFF;
				}
			}

			&:before {
				background: $colour4;
			}
		}

		&:nth-child(5n + 5) {
			
			&:hover {
				a {
					color: #FFF;
				}
			}

			&:before {
				background: $colour5;
			}
		}
	}
}