

.nav {
	padding: 20px;
	margin: 0 auto 20px;
	display: flex;
    justify-content: center;

	li {
		display: inline-block;
	    background: transparent;
	    position: relative;
	    padding: 5px 15px;
		text-align: center;
		&:hover {

			a {
				transition: color $transition-speed-text ease-out;
			}

			&:before {
				width: 100%;
			}
		}

		a {
			position: relative;
			transition: color $transition-speed-text ease-out;
		}

		&:before {
			content: '';
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 0%;
		    -webkit-transition: width $transition-speed-bg ease-out;
		}

		&:nth-child(5n + 1) {
			&:hover {
				a {
					color: #FFF;
				}
			}
			&:before {
				background: $colour1;
			}
		}

		&:nth-child(5n + 2) {
			&:before {
				background: $colour2;
			}
		}

		&:nth-child(5n + 3) {
			&:hover {
				a {
					color: #FFF;
				}
			}
			&:before {
				background: $colour3;
			}
		}

		&:nth-child(5n + 4) {
			&:hover {
				a {
					color: #FFF;
				}
			}

			&:before {
				background: $colour4;
			}
		}

		&:nth-child(5n + 5) {
			
			&:hover {
				a {
					color: #FFF;
				}
			}

			&:before {
				background: $colour5;
			}
		}
	}	
}

.nav-mobile {
	width: 100%;
	display: none;
	li {
		padding: 15px;
		display: block;
	}
}

