

.nav {
	padding: 20px;
	margin: 0 auto 20px;
	display: flex;
    justify-content: center;

	li {
		display: inline-block;
	    background: transparent;
	    position: relative;
	    padding: 5px 15px;
		text-align: center;

		font-size: 36px;
		font-family: $font-amatic;
		text-transform: uppercase;

		&:hover {

			a {
				transition: color $transition-speed-text ease-out;
			}

			&:before {
				width: 100%;
			}
		}

		a {
			position: relative;
			transition: color $transition-speed-text ease-out;
		}

		&:before {
			content: '';
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 0%;
		    -webkit-transition: width $transition-speed-bg ease-out;
		    // border-radius: $border-radius;
		}

		&:nth-child(5n + 1) {
			&:hover {
				a {
					color: $colour1-text;
				}
			}
			&:before {
				background: $colour1;
			}
		}

		&:nth-child(5n + 2) {
			&:hover {
				a {
					color: $colour2-text;
				}
			}

			&:before {
				background: $colour2;
			}
		}

		&:nth-child(5n + 3) {
			&:hover {
				a {
					color: $colour3-text;
				}
			}
			&:before {
				background: $colour3;
			}
		}

		&:nth-child(5n + 4) {
			&:hover {
				a {
					color: $colour4-text;
				}
			}

			&:before {
				background: $colour4;
			}
		}

		&:nth-child(5n + 5) {
			
			&:hover {
				a {
					color: $colour5-text;
				}
			}

			&:before {
				background: $colour5;
			}
		}
	}	
}

.nav-underline {
	li {
		&:before {
			content: '';
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    top: inherit;
		    height: 5px;
		    width: 0%;
		    -webkit-transition: width $transition-speed-bg ease-out;
		}
	
		&:nth-child(n) {
			&:hover {
				a {
					color: $text-body;
				}
			}	
		}	
	}
}

.nav-mobile {
	width: 100%;
	display: none;
	li {
		padding: 15px;
		display: block;
	}
}

