.page-title {
	margin-bottom: 10px;
	color: $page-title;
	font-size: 48px;
	@include respond($device-width-sm) {
		font-size: 64px;
	}
}

.page-message {
	margin-bottom: 0;
}

.page-heading {	
  margin-bottom: 20px;
  @include respond($device-width-sm) {
    margin-bottom: 40px;
  }
}

.page-section {
  margin-bottom: 20px;
  @include respond($device-width-sm) {
    margin-bottom: 40px;
  }
}