.rsvp-item {
	position: relative;
	padding: 5px 15px;
    margin-bottom: 10px;

    // &:hover {
    // 	background-color: $yellow;
    // }
}

.rsvp-checkbox {
	display: none;

	&:checked {
		~ .rsvp-label {
			&:after {
				content: 'Attending';
				color: $green;
			}
		}
	}
}

.rsvp-label {
	margin-right: 10px;
}
//.rsvp-label {
// 	cursor: pointer;
// 	display: block;
// 	width: 100%;
// 	&:after {
// 		content: 'Not Attending';
// 		position: absolute;
// 		right: 15px;
//     	width: 125px;
// 		text-align: right;
// 		color: $red;
// 	}

// }

.rsvp-textarea {
	width: 100%;
    border: 1px solid $grey;
    border-radius: 3px;
    height: 100px;
}

.rsvp-form {
	flex: 0 1 400px;
}

.rsvp-list {
	margin-bottom: 40px;
}

.rsvp-submit {
	padding: 0 15px;
}

.rsvp-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.rsvp-col-full {
	flex: 0 0 100%;
}

