// @font-face {
//     font-family: 'daydreamerregular';
//     src: font-url('daydreamer-webfont.woff2') format('woff2'),
//          font-url('daydreamer-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'hello_goodbyeregular';
//     src: font-url('hellogoodbye-webfont.woff2') format('woff2'),
//          font-url('hellogoodbye-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }


body,
html {
    // font-family: "acumin-pro",sans-serif;
    // font-family: 'hello_goodbyeregular',sans-serif;
  font-family: 'Athiti', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
	color: #333;
	font-weight: 400;
	font-style: normal;
  line-height: 1.5;

	margin: 0 auto;
  
  font-size: 16px;
  @include respond($device-width-sm) {
    font-size: 20px;

  }
}

.font-athiti {
  font-family: 'Athiti', sans-serif;

}

.font-amatic {
  font-family: 'Amatic SC', cursive;
}


h1, h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
	font-weight: 100;
	margin-top: 0;
}

h1 {
	color: $blue;
}

h2 {
	color: $blue;
}

h4,h5,h6 {
	margin-top: 0;
}

p {
	margin: 0 0 1rem;
}

.text-small {
  font-size: 16px
}

a {
	text-decoration: none;
	color: $text-body;
  position: relative;

	&:visited {
		color: $text-body;
	}
}

.link {
  
  height: 31px;

  &:hover {
    a {
      transition: color $transition-speed-text ease-out;
      color: $colour1-text;
    }

    &:before {
      width: 100%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0%;
    -webkit-transition: width $transition-speed-bg ease-out;
    background: $colour1;
    z-index: 0;
  }
}

.text-center {
	text-align: center;
}

h1 {
  margin-bottom: 1rem;
  font-size: 36px;
  @include respond($device-width-xs) {
      font-size: 48px;
  }
  @include respond($device-width-sm) {
    font-size: 72px;
  }
}

h2 {
  margin-bottom: 1rem;
  font-size: 24px;
  @include respond($device-width-xs) {
      font-size: 36px;
  }
  @include respond($device-width-sm) {
    font-size: 64px;
  }
}

h3 {
  font-size: 48px;
  margin-bottom: 0rem;
}

h4 {
  font-size: 36px;
  margin-bottom: 0rem;
  color: $blue;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0rem;
  @include respond($device-width-sm) {
    font-size: 24px;
  }
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}


ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}



