.hidden-desktop {
	@include respond($device-width-sm) {
		display: none !important;
	}
}

.hidden-mobile {
	@include respond_max($device-width-sm - 1) {
		display: none !important;
	}
}

.hidden-element {
	position: absolute;
	visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.gmap-overlay {
   background:transparent; 
   position:relative; 
   width: 100% ;
   height: 300px;
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}

.m0 {
	margin: 0;
}