$text-body: #333;
$text-body-disabled: #CACACA;

// Colour
$green: #1CA37B;
$yellow: #FAEC29;
$orange: #FF8913;
$maroon: #C62F62;
$red: #CF3944;
$green2: #3DC39C;
$blue: #2A65B5;
$grey: #cdd4d2;

$colour1: $green2;
$colour2: $yellow;
$colour3: $orange;
$colour4: $maroon;
$colour5: $blue;


$page-title: $green;

$device-width-sm: 568px;
$device-width-md: 768px;
$device-width-lg: 1024px;
$device-width-xl: 1280px;
