<ul>
	<li><%= link_to "RSVP" , rsvp_path %></li>
	<li><%= link_to "Git Registry" , gift_registry_path %></li>
	<li><%= link_to "Directions" , directions_path %></li>
	<li><%= link_to "Home" , root_path %></li>
</ul>